body{
    background-color: #3c3a3a;
    font-family: sans-serif;
}



.navbar{
    position: fixed;
    text-decoration: none;
    font-weight: bold;
    margin: 24px -60px;
}

nav ul{
    float: right;
    margin-right: 10px;
    text-decoration:dotted;
}

.navbar li{
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: antiquewhite;
    /* margin: -49px 56px; */
}

nav a{
    color: antiquewhite;
}

.bgimage {
    height:100vh;
    background: url('images/background\ image\ for\ portfolio.jpg');
    background-size:cover;
    position:relative;
    z-index: -1;
    /* margin: 134px auto; */
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    /* width: 100%; */
    align-items: center;
    /* margin: 10px 625px; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
}

div h3{
    text-align: center;
}

div h1{
    text-align: center;
    margin: 50px;
}

div h2{
    text-align: center;
}

/* .row{
    width: 800px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
} */

.row{
    margin: 20px 0;
}

.row mt-4{
    margin: 20px 0;
}

.column{
    background: rgb(89, 87, 87);
    display: table-cell;
    padding: 5px;
    text-align: center;
    border-right: 20px solid #d8c9c9;
    box-sizing: border-box;
}

.portfolio .row{
    margin: 20px 0;
}

.portfolio .column{
    background: rgb(89, 87, 87);
    display: table-cell;
    padding: 5px;
    text-align: center;
    border-right: 20px solid #d8c9c9;
    box-sizing: border-box;
}


/* .cr {
    padding-top: 30px;
    background: #dfedf8;
    text-align: center; 
    width: 100%;
    padding: 10px;
  }
  .copyright{
  padding-bottom: 20px;
  margin-bottom: 20px;
  }
  .cr p{
    margin-top: 10px;
  margin-bottom: 5px;
  } */




  .social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
    margin-bottom: auto;
}



.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #01937c;
}
.contactForm h2{
    font-size: 30px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    background: rgb(89, 87, 87);
    color: rgb(27, 8, 59);
    outline: none;
    resize: none;
}
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    background: #01937c;
    color: rgb(27, 8, 59);
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none; 
    transition: 0.5s;
    color: rgb(27, 8, 59);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~span
{
    color: rgb(27, 8, 59);
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: rgb(27, 8, 59);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


.navbarScroll.navbarDark {
    background-color: black;
}

.bgColor{
    background-color: antiquewhite;
    color: #000;
}



@media (max-width: 900px){
    .column{
        display: block;
        margin: 20px 0;
    }
}



.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}







/* .content {
    min-height: 63vh;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}

.content p {
    margin-top: 40px;
    font-size: 25px;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

@media (max-width: 700px) {
    .Heading {
        font-size: 25px;
    }
    .content p {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 80%;
    }
    .text-box h1 {
        font-size: 30px;
    }
    .text-box p {
        margin: 10px 0px 40px;
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
        padding-bottom: 15px;
    }
    .nav-links {
        position: absolute;
        background: #01937c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav .fa {
        display: block;
        color: #dfedf8;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    html,
    body {
        overflow-x: hidden;
    }
}

.social-links a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #281f7a;
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    transition: all 0.5s ease;
    padding: 3px;
}

.social-links a:hover {
    box-shadow: 0 0 10px #000;
} */

/* .cr {
    padding-top: 25px;
    background: #dfedf8;
    text-align: center;
    width: auto;
    padding: 10px;
}

.copyright {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cr p {
    margin-top: 8px;
    margin-bottom: 5px;
} */





/* .content {
    min-height: 63vh;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
}

.content p {
    margin-top: 40px;
    font-size: 25px;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /* border-radius: 50%; 
}

/* @media (max-width: 700px) {
    .Heading {
        font-size: 25px;
    }
    .content p {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 80%;
    }
    .text-box h1 {
        font-size: 30px;
    }
    .text-box p {
        margin: 10px 0px 40px;
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
        padding-bottom: 15px;
    }
    .nav-links {
        position: absolute;
        background: #01937c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav .fa {
        display: block;
        color: #dfedf8;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    html,
    body {
        overflow-x: hidden;
    }
}

.social-links a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #281f7a;
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    transition: all 0.5s ease;
    padding: 3px;
}

.social-links a:hover {
    box-shadow: 0 0 10px #000;
} */